
// 表格图标按钮
.table-btn {
  font-size: 18px;

  &:not(:last-child) {
    margin-right: 0.4em;
  }

  &.table-btn-txt {
    font-size: 12px;
  }
}

// steps组件居中修复
.steps-fix {

  display: flex !important;
  justify-content: center !important;
  margin-top: 20px !important;

  & .ivu-steps-item:last-child {
    width: auto !important;
  }
}

// 一级tabs通用样式
.app-tabs {
  margin-bottom:20px;

  &.ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-tab {
    // 去掉圆角和背景色
    // border-radius: 0;
    background: #fff;
  }
  &.ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-tab-active {
    border-top: 1px solid @primary-color;
  }
  &.ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-tab-active:before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: @primary-color;
    position: absolute;
    top: 0;
    left: 0;
  }
}

// 正常样式的小号Page组件样式
.app-page-small {
  margin-top: 10px;
  text-align: right;

  &>li {
  height: 24px;
  min-width: 24px;
  line-height: 24px;
  text-align: center;

    &>a {
      display: block;
      margin: 0 auto;
    }
  }
}

// svg图标
.svg-icon {
  fill: #657180;
  vertical-align: middle;
  transform: translateY(-1px)
}
